 @tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  overflow: -moz-scrollbars-none; /* Older Firefox */
  -ms-overflow-style: none;        /* IE and Edge */
  scrollbar-width: none; 
   overflow-x: hidden;          /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                   /* Chrome, Safari, Opera */
}

body {
 
}


  @keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideInLeft 0.3s ease-out forwards;
}

.hamburger {
  width: 25px;
  height: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 50;
}

.hamburger span {
  display: block;
  height: 3.5px; /* consistent thin line */
 
  background-color: #dc2626; /* red */
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform-origin: center;
}

/* Animate to ✕ */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
